app
  h1 Riot and Webpack
  p { state.count }

  button(onclick=`{ increment }`) Increment (+)
  button(onclick=`{ decrement }`) Decrement (-)

  script.
    export default {
      state: {
        count: 0,
      },
      increment() {
        this.update({
          count: this.state.count + 1,
        });
      },
      decrement() {
        this.update({
          count: this.state.count - 1,
        });
      },
    };
